@model Mongod.Infrastructure.Models.AdModel
@{
    ViewData["Title"] = "Details page";
}

<fieldset></fieldset>
    <legend>Advertisement</legend>
    <div>
        Tytuł: @Model.Title
    </div>
    <div>
        Opis: @Model.Description
    </div>
    <div>
        Imię właściciela: @Model.Owner.Name
    </div>
    <div>
        Nazwisko właściciela: @Model.Owner.Surname
    </div>
    <div>
        Ulica: @Model.Address.Street
    </div>
    <div>
        Numer budynku: @Model.Address.BuildingNumber
    </div>
    <div>
        Numer mieszkania: @Model.Address.FlatNumber
    </div>
    <div>
        Miasto: @Model.Address.City
    </div>
    <div>
        Kod pocztowy: @Model.Address.ZipCode
    </div>
</fieldset>