@model Mongod.Infrastructure.ViewModels.PageViewModel<Mongod.Infrastructure.Models.AdModel>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <tr>
        <th>Title</th>
        <th>Owner</th>
    </tr>
    @foreach(var item in Model.Items)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Owner.Name @item.Owner.Surname
            </td>
            <td>
                @Html.ActionLink("Details","Details","Ad",new { id = @item.Id }, null)
            </td>
        </tr>
    }
</table>

@{
    if(@Model.PageNumber>0)
    {
        @Html.ActionLink("Previous Page","Index","Ad", new { pageNumber = @Model.PageNumber - 1, maxPageItemsCount = @Model.MaxPageItemsCount},new { @class="btn btn-info" })
    }
}
@{
    if(@Model.NexPageAvailable)
    {
        @Html.ActionLink("Next page","Index","Ad", new { pageNumber = @Model.PageNumber + 1, maxPageItemsCount = @Model.MaxPageItemsCount},new { @class="btn btn-info" })
    }
}