@model IEnumerable<Mongod.Infrastructure.Models.FlatModel>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <tr>
        <th>Adres</th>
        <th>Owner</th>
        <th>Ilość pokoi</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @item.Address.Street @item.Address.BuildingNumber / @item.Address.FlatNumber
            </td>
            <td>
                @item.Owner.Name @item.Owner.Surname
            </td>
            <td>
                @item.RoomsCount
            </td>
            <td>
                @Html.ActionLink("Details","Details","Flat",new { id = @item.Id }, null)
            </td>
        </tr>
    }
</table>